<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Spring Boot Thymeleaf Hello World Example</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" th:href="@{/css/home.css}" href="../../css/home.css" />
	</head>
	
	<body>
		<div>
			<h1 id="title">
				SubSolver
			</h1>
		</div>
		<div class="container">
			<form action="#" th:action="@{/home}" th:object="${ciphertext}" method="post" id="decryptForm" >
				<label id="cipherLabel" for="ciphertext-input">Ciphertext</label>
				<textarea id="ciphertext-input" rows="15" cols="100" th:field="*{content}" placeholder="Enter Ciphertext to Decrypt..."></textarea>
				<br/>
				<input type="submit" value="Decrypt"></input>
			</form>
		</div>
		
	
	</body>
	
	<script th:href="@{/css/home.js}" src="../../css/home.js"></script>
	
</html>