<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Bucket List App</title>
 		<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
		<script src="static/js/jquery-3.3.1.js"></script>
		<script src="static/js/index.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div id="loader" class="loading">Loading&#8230;</div>
		<div>
				<h1 id="title">
						SubSolver
				</h1>
		</div>
		<div class="cipher-container">
        <label id="methodLabel">Method</label>
        <br/><br/>
        <label id="method1Label" for="method1">Monogram</label>
        <input id="method1Option" type="checkbox" class="check" value="1" />
        <label id="method2Label" for="method2">Bigram</label>
        <input id="method2Option" type="checkbox" class="check" value="1" />
        <label id="method3Label" for="method3">Trigram</label>
        <input id="method3Option" type="checkbox" class="check" value="1" />
        <label id="method4Label" for="method4">Quadgram</label>
        <input id="method4Option" type="checkbox" class="check" value="1" />
        <label id="method5Label" for="method5">Intersection</label>
        <input id="method5Option" type="checkbox" class="check" value="1" />
        <label id="method6Label" for="method6">Frequency</label>
        <input id="method6Option" type="checkbox" class="check" value="1" />
        <label id="method7Label" for="method7">Manual</label>
        <input id="method7Option" type="checkbox" class="check" value="1" />
        <label id="method8Label" for="method7">Encrypt</label>
        <input id="method8Option" type="checkbox" class="check" value="1" />
        <br/><br/><br/>
				<label id="cipherLabel">Ciphertext</label>
				<textarea id="ciphertext-input" rows="15" placeholder="Enter Ciphertext to Decrypt..."></textarea>
				<br/>
				<button id="decryptButton">Decrypt</button>
        <br/><br/><br/>
        <label id="possibleKeyOrMapLabel">Choose a Method</label>
        <textarea id="key-input" rows="1" placeholder="Enter Key to Decrypt with..."></textarea>
        <br/>
        <p id="possibleKeyOrMap"></p>
        <p id="barGraph"></p>
        <br/><br/>
        <label id="plainTextLabel">Choose a Method</label>
        <br/>
        <p id="plaintextResult"></p>
        <br/><br/><br/><br/>
		</div>


</body>

</html>
