<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Bucket List App</title>
 		<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
		<script src="static/js/jquery-3.3.1.js"></script>
		<script src="static/js/index.js"></script>
</head>

<body>
		<div>
				<h1 id="title">
						SubSolver
				</h1>
		</div>
		<div class="container">
				<label id="cipherLabel" for="ciphertext-input">Ciphertext</label>
				<textarea id="ciphertext-input" rows="15" cols="100" placeholder="Enter Ciphertext to Decrypt..."></textarea>
				<br/>
				<button id="decryptButton">Decrypt</button>
		</div>


</body>



</html>
